hands-on/ERA5/Tokyo/raw
hands-on/ERA5/Tokyo/LDASIN*
hands-on/ERA5/Tokyo/LDASOUT*
hands-on/ERA5/YangtzeDelta/raw
hands-on/ERA5/YangtzeDelta/LDASIN*
hands-on/ERA5/YangtzeDelta/LDASOUT*

hands-on/MIROC6/Tokyo/raw
hands-on/MIROC6/Tokyo/LDASIN*
hands-on/MIROC6/Tokyo/LDASOUT*